# Donor counting

The number of donor's household supporting

In [11]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [12]:
df = pd.read_excel(r'C:\Users\panda\OneDrive\Desktop\Bongsen\remodeling.xlsx',sheet_name ="Summation")
df = pd.DataFrame(df)
df.head()

,Unnamed: 0,Family name,2018,2019,2020,2021,2022,2023,2024,2025,Donor
0,180001,NGUYEN THI MY LINH,7.9,10.8,13.8,15.2,15.15,-,-,NaN,BS
1,180002,TRAN NGOC TUYEN,8.8,12.83,14.1,15.8,15.2,-,-,NaN,BS
2,180003,NGUYEN THANH TRUC,9.75,11.92,15.05,14.2,15.1,-,-,NaN,BS
3,180005,DANG THU THAO,8.9,-,-,-,-,-,-,NaN,BS
4,180006,TRAN THI DIEM,6.6,9.8,10.8,14.48,14.55,-,-,NaN,BS

In [15]:
df['Donor'].isnull().sum()

14

In [16]:
df['Family name'].isnull().sum()

0

In [18]:
df['Donor'] = df['Donor'].fillna('-')

In [19]:
df['Donor'].isnull().sum()

0

In [22]:
#count the number of donor
donors = df['Donor']
donor_names = np.array(['BS','CTG','Hanh Nguyen','KELLY VO','Nguyen Libero','REAL','Real','SAL','TRG','MK VIME','-'])
count_bs = 0
count_ctg = 0
count_nguyen = 0
count_kelly = 0
count_libero = 0
count_real  = 0
count_sal =0
count_trg = 0
count_mk_vime = 0
count_blank = 0
for i in donors:
    if i == donor_names[0]:
        count_bs +=1
    elif i == donor_names[1]:
        count_ctg +=1
    elif i == donor_names[2]:
        count_nguyen +=1
    elif i == donor_names[3]:
        count_kelly +=1
    elif i == donor_names[4]:
        count_libero +=1
    elif i == donor_names[5] or i == donor_names[6]:
        count_real +=1
    elif i == donor_names[7]:
        count_sal +=1
    elif i == donor_names[8]:
        count_trg +=1
    elif i == donor_names[9]:
        count_mk_vime +=1
    elif i == donor_names[10]:
        count_blank +=1
print("The number of donator is ",len(donor_names))
print("The number of household is",len(df['Family name']))
print("------------------------------------ \n")
print("The number of recipient of BS is ",count_bs)
print("The number of recipient of CTG is ",count_ctg)
print("The number of recipient of Hanh Nguyen is ",count_nguyen)
print("The number of recipient of KELLY VO is ",count_kelly)
print("The number of recipient of Nguyen Libero is ",count_libero)
print("The number of recipient of REAL is ",count_real)
print("The number of recipient of SAL is ",count_sal)
print("The number of recipient of TRG is ",count_trg)
print("The number of recipient of MK VIME is ",count_mk_vime)
print("The blank information of donor name is",count_blank)
print("The Total is",count_bs+count_ctg+count_nguyen+count_kelly+count_libero+count_real+count_sal+count_trg+count_mk_vime+count_blank)

The number of donator is  11
The number of household is 217
------------------------------------

The number of recipient of BS is  72
The number of recipient of CTG is  83
The number of recipient of Hanh Nguyen is  4
The number of recipient of KELLY VO is  6
The number of recipient of Nguyen Libero is  6
The number of recipient of REAL is  4
The number of recipient of SAL is  18
The number of recipient of TRG is  8
The number of recipient of MK VIME is  2
The blank information of donor name is 14
The Total is 217

# Search the name of Donor to find the family name

In [23]:
donor_name = str(input("Enter the name here: "))

def find_family (donor_name):

    group_name = {
        'Donor' : df['Donor'],
        'Family name' : df['Family name'] }
    data_frame = pd.DataFrame(group_name, columns = ['Donor','Family name'])

    filter_result = data_frame[data_frame['Donor'] == donor_name]
    range = len(filter_result)
    print("The number of recipient is",range)
    return(filter_result.head(range))

find_family(donor_name)

Enter the name here: -
The number of recipient is 14

    Donor         Family name
19      -         LE THI LINH
22      -    HUYNH THI PHUONG
25      -  VO THI QUYEN TRANG
47      -    NGUYEN THANH LAM
49      -      VO THI KIM HOA
56      -      VO THI MY HANH
107     -       VUONG KIM SON
137     -     VO THI CAM HONG
152     -          VO THI LUA
169     -        VO THI QUYET
174     -      VO THI MY HONG
191     -          VO THI NHI
198     -        VO THI XUYEN
207     -          VO THI NGA